<h2>List of Vehicle and  Corresponding total kms travelled</h2>
<ul>
    <li>User --> Vehicle -->  Kilometers </li>
    {% for obj in passengers %}
        <li>{{ obj.username }} ---> {{ obj.vehicle_reg_num }} ---> {{ obj.score }}</li>
    {% endfor %}
</ul>